.form {
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 1px solid #111;
     border-radius: 6px;
     padding: 5px;
     padding-bottom: 15px;
     gap: 14px;
     align-items: center;
     justify-content: center;
     
}
.formGroup {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 500;
}

.btn {
     border: 1px solid black;
  border-radius: 6px;
  width: 150px;
 
}
.error {
    color: red;
}
 .input {
    padding: 5px;
 }